@media (min-height: 800px) and (max-height: 1000px) and (min-width: 1000px) {
  h2.intro-basic {
    display: none;
  }

  h2.intro-extended {
    font-size: 1.4rem;
  }

  h2.cta-extended {
    font-size: 1.4rem;
  }

  .content section h3 {
    font-size: 2rem;
  }

  .responsive-background-image>img {
    bottom: 0;
    height: 561px;
    position: absolute;
    right: 0;
    transition: all 0.5s ease-in-out;
    width: auto;
    z-index: 10;
  }

  .perspective {
    position: absolute;
    right: 262px;
    bottom: 240px;
    height: 80px;
    width: 80px;
    transform: perspective(400px) rotateX(-8deg) rotateY(-40deg) scale(1.25);
    transition: all 0.5s ease-in-out;
    z-index: 30;
  }
}