@media (width: 896px) and (height: 414px) {
  .landingpage {
    height: 100vh;
    min-height: 400px;
    width: 100vw;
  }

  .responsive-background-image>img {
    bottom: 0;
    display: none;
    height: 700px;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 10;
  }

  .perspective {
    display: none;
    position: absolute;
    right: 336px;
    bottom: 310px;
    height: 80px;
    width: 80px;
    transform: perspective(400px) rotateX(-8deg) rotateY(-40deg) scale(1.55);
    transition: all 0.5s ease-in-out;
    z-index: 30;
  }

  /* Navigation */
  .navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 8vh;
    min-height: 60px;
  }

  .navbar-logo {
    align-items: center;
    border: 2px solid white;
    border-radius: 8px;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
  }

  .navbar-logo-inner {
    border: 2px solid white;
    border-radius: 4px;
    height: 50%;
    width: 50%;
  }

  .navbar-name {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 0;
    margin-right: 10px;
    white-space: nowrap;
  }

  .navbar-name:hover {
    cursor: default;
  }

  .navbar-menu {
    font-weight: 600;
    margin-right: 10px;
    position: absolute;
    right: 0;
  }


  .navbar-menu-github {
    color: #314152;
    height: 1.6em;
    text-decoration: none;
    width: 1.6em;
  }

  .navbar-menu-github:hover {
    color: #314152;
    cursor: pointer;
  }

  .navbar-menu-vite {
    margin-left: 10px;
  }

  .navbar-menu-vite>svg {
    height: 1.6em;
    width: 1.6em;
  }

  /* Content */
  .content {
    height: calc(100% - 60px);
    max-height: 92vh;
    margin-left: 20px;
    width: calc(100vw - 40px);
  }

  .content h1 {
    font-size: 1.8rem;
    padding-top: 10px;
    width: 90vw;
  }

  h2.intro-basic {
    display: flex;
    font-size: 1.1rem;
    width: 90vw;
  }

  h2.intro-extended {
    display: none;
  }

  h2.cta-extended {
    display: none;
  }

  .content section h3 {
    display: none;
  }

  .content section {
    bottom: 0;
    margin-bottom: 20px;
    position: absolute;
  }

  /* Join list input */
  .content section form {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    z-index: 20;
  }

  .content section form input {
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    height: 50px;
    padding: 0 0 0 14px;
    min-width: 200px;
    width: 73vw;
    z-index: 20;
  }

  .content section form input:focus {
    outline: none;
    z-index: 20;
  }

  .content section form button {
    align-items: center;
    background-color: #314152;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    height: 50px;
    outline: none;
    padding: 0;
    text-transform: uppercase;
    transition: none;
    min-width: 40px;
    width: 20vw;
    z-index: 20;
  }

  .content section form button:hover {
    border: none;
    cursor: pointer;
    z-index: 20;
  }

  /* Join animation */
  #error {
    bottom: 42px;
    color: red;
    font-size: 0.8rem;
    left: 20px;
    padding: 0;
    position: absolute;
    width: 400px;
    z-index: 20;
  }

  .loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .loader div {
    position: absolute;
    top: 35px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .loader div:nth-child(1) {
    left: 8px;
    animation: loader1 0.6s infinite;
  }

  .loader div:nth-child(2) {
    left: 8px;
    animation: loader2 0.6s infinite;
  }

  .loader div:nth-child(3) {
    left: 32px;
    animation: loader2 0.6s infinite;
  }

  .loader div:nth-child(4) {
    left: 56px;
    animation: loader3 0.6s infinite;
  }
}