body {
  background: rgb(254, 200, 98);
  background: linear-gradient(90deg, rgba(254, 200, 98, 1) 0%, rgba(249, 170, 93, 1) 50%, rgba(236, 107, 116, 1) 100%);
}

.responsive-background-image {
  background-image: url('./assets/ppdotdev_midjourney_react_demo_background.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  height: 80vh;
  max-height: 80vh;
  position: absolute;
  right: 0;
  width: 50vw;
}